<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Index</h1>
<a th:href="@{/testRequestServletAPI}">testRequestServletAPI</a><br>
<a th:href="@{/testModelAndView}">testModelAndView</a><br>
<a th:href="@{/testModel}">testModel</a><br>
<a th:href="@{/testMap}">testMap</a><br>
<a th:href="@{/testModelMap}">testModelMap</a><br>
<a th:href="@{/testSession}">testSession</a><br>
<a th:href="@{/testApplication}">testApplication</a><br>
<a th:href="@{/testView}">testView</a><br>
</body>
</html>